<h1>Books</h1>

<table>
  <thead>
    <tr><th>title</th><th>body</th></tr>
 
  </thead>
  <tbody>
     <% @books.each do |book| %>
    <tr><td><%= book.title %></td><td><%= book.body %></td></tr>
    <%end%>
  </tbody>
  
  </table>
  
  
<!--投稿フォームはここから-->

<h1>New book</h1>
<%= form_with model: @book do |f| %>
<p>Title</p>
<%= f.text_field :title %>
<p>Body</p>
<%= f.text_area :body %><br>

<%= f.submit 'Create Book' %>
<%end%>
