<div><p class="p1 p2"><%= flash[:notice] %></p></div>

<p><b>Title:</b><%= @book.title %></p>
<p><b>Body:</b><%= @book.body %></p>

<%= link_to "edit", edit_book_path(@book) %> |
<%= link_to "Back", "/books" %>